global
    maxconn 50000
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    option  dontlognull
    timeout connect 10s
    timeout client  60s
    timeout server  60s
    timeout tunnel  1h

# --- FRONTEND HTTP (Port 80) ---
frontend http-in
    bind *:80
    mode http
    option httplog
    # Redirect otomatis ke HTTPS (kecuali ACME challenge)
    acl is_acme path_beg /.well-known/acme-challenge/
    redirect scheme https code 301 if !is_acme
    
    default_backend traefik-http

# --- FRONTEND HTTPS (Port 443) ---
frontend https-in
    bind *:443
    mode tcp
    option tcplog
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }
    default_backend traefik-https

# --- FRONTEND DATA PLANE (Port 4321) ---
frontend tunnel-tcp
    bind *:4321
    mode tcp
    default_backend traefik-tunnel

# --- FRONTEND CONTROL PLANE (Port 50051) ---
frontend control-grpc
    bind *:50051
    mode tcp
    default_backend traefik-control

# --- BACKENDS ---

backend traefik-http
    mode http
    server traefik-vps traefik:80 check

backend traefik-https
    mode tcp
    server traefik-vps traefik:443 check

backend traefik-tunnel
    mode tcp
    server traefik-vps traefik:4321 check

backend traefik-control
    mode tcp
    server relay-vps relay:50051 check
